.attribution { 
    font-size: 11px; text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, 
*::before, 
*::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
/*  */


/* root */
:root {
  --color-orange: hsl(25, 97%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(217, 12%, 63%);
  --color-medium-gray: hsl(216, 12%, 54%);
  --color-dark-blue: hsl(213, 19%, 18%);
  --color-dark-blue-2: hsl(213, 20%, 22%);
  --color-very-dark-blue: hsl(216, 12%, 8%);
  --fw-regular: 500;
  --fw-bold: 700;
  --font-overpass: 'Overpass', sans-serif;
  --fs-small: 15px;
}
/* root */

#clock {
  color: var(--color-orange);
  font-family: var(--font-overpass);
  font-weight: var(--fw-bold);
}

/* body */
body {
  background-color: var(--color-very-dark-blue);
  color: var(--color-white);
  font-family: var(--font-overpass);
}
/* body */

/* main */
main {
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 1rem;
}
/* main */

/* main-div */
.main-div {
  background-color: var(--color-dark-blue);
  border: 1px;
  border-radius: 1.5rem;
  max-width: 400px;
  padding: 2rem;
  margin-top: 100px;
}
/* main-div */

/* div-header */
.div-header h2 {
  margin-top: 1rem;
}
/* div-header */

/* div-img */
.div-img img {
  background-color: var(--color-dark-blue-2);
  padding: 0.75rem;
  border-radius: 50%;
}
/* div-img */


/* p-content */
.p-content {
  color: var(--color-medium-gray);
  font-size: var(--fs-small);
}
/* p-content */

/* div-buttons */
.div-buttons {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 1rem 0;
}
.div-buttons button {
  width: 3rem;
  height: 3rem;
  border: 0px solid var(--color-dark-blue);
  border-radius: 50%;
  background-color: var(--color-dark-blue-2);
  color: var(--color-medium-gray);
  font-weight: var(--fw-bold);
  cursor: pointer;
}
.div-buttons button:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
}
.div-buttons button:focus {
  background-color: var(--color-medium-gray);
  color: var(--color-white);
}
/* div-buttons */


/* div-submit */
.div-submit {
  display: grid;
  margin-top: 1rem;
}
.div-submit button {
  padding: 0.50em 1em;
  border: 0px solid var(--color-dark-blue);
  border-radius: 1.5rem;
  background-color: var(--color-orange);
  color: var(--color-white);
  font-weight: var(--fw-bold);
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
}
.div-submit button:hover {
  background-color: var(--color-white);
  color: var(--color-orange);
}
/* div-submit */


/* thank you */
.thank-you {
  background-color: var(--color-dark-blue);
  border: 1px;
  border-radius: 1.5rem;
  max-width: 400px;
  padding: 2rem;
  margin-top: 100px;
  justify-content: center;
  text-align: center;
}
/* thank you */

/* div-img-selected */
.div-img-selected {
  display: grid;
  justify-content: center;
  padding: 1rem 0rem 1rem 0rem;
}
.div-img-selected .p-selected {
  display: inline-block;
  text-align: center;
  color: var(--color-orange);
  background-color: var(--color-dark-blue-2);
  width: 150px;
  padding: 0.3rem 0.5rem 0 0.5rem;
  margin-top: 2rem;
  border: 1px;
  border-radius: 1rem;
  font-size: 0.8rem;
}
/* div-img-selected */

/* p-result */
.p-result {
  color: var(--color-medium-gray);
  font-size: var(--fs-small)
}
/* p-result */

/* hidden class */
.hidden {
  display: none;
}
/* hidden class */